/* Новости*/
.news_item{
    width: 690px;
    margin: 0 10px 50px 10px;
    overflow: auto;
}
.news_image{
    float: left;
    margin-right: 10px;
}
.news_content{
    overflow: auto;
}
.news_title a, .article-title{
    font-size: 30pt;
    font-style: italic;
    color: #666666;
    margin-bottom: 10px;
}
.news_title a:hover{
    color: #ca5f00;
}
.news_short_description{
    font-style: normal;
    font-size: 12pt;
    color: #666666;
    margin: 20px 0;
	word-wrap: break-word;

}
.news_bottom_lbl{
    color: #999999;
    margin-right: 30px;
    padding-left: 16px;
    background: url('../img/news/spr_news.png') no-repeat 0 0;
}
.btm_date{
    background: none;
    padding: 0;
}
.btm_viewed{
    background-position: 0 -14px;
}
/* End: Новости*/

/* Интересное меню*/
.interesting_menu {
    color: #000000;
    font-size: 12pt;
}
.interesting_menu:hover{
    color: #ca5f00;
}
.interesting_menu_ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.interesting_menu_title{
    font-family: Arial;
    font-size: 20px;
    font-style: italic;
    padding-top: 50px;
}
/* End: Интересное меню*/

/* страница новости */
