/* Новости*/
.news_item{
    width: 690px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    overflow: auto;
}
.news_image{
    float: left;
    margin-right: 10px;
}
.news_content{
    overflow: auto;
}
.news_title{

    font-family: Arial;
    font-size: 30pt;
    font-style: italic;
    color: #666666;
    margin-bottom: 10px;
}
.news_short_description{
    font-family: Arial;
    font-style: normal;
    font-size: 12pt;
    color: #666666;
    margin-bottom: 20px;
	word-wrap: break-word;

}
.news_date{
    font-family: Arial;
    font-size: 11pt;
    color: #999999;
    margin-right: 30px;
}
.news_comment{
    margin-right: 30px;
}
/* End: Новости*/

/* Интересное меню*/
.interesting_menu {
    color: #000000;
    font-size: 12pt;
}
.interesting_menu:hover{
    color: #ca5f00;
}
.interesting_menu_ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.interesting_menu_title{
    font-family: Arial;
    font-size: 20px;
    font-style: italic;
    padding-top: 50px;
}
/* End: Интересное меню*/