<div class="btn-group">
    <button class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
        {% if currentCurrency %}
            {{ currentCurrency.getCurrencyName() }}
        {% else %}
            $
        {% endif %}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#" id="USD">$</a></li>
        {% for currency in exchangeList %}
        <li><a href="#" id="{{ currency.currency }}">{{ currency.currencyName }}</a></li>
        {% endfor %}
    </ul>
</div>