{% extends app.request.isxmlhttprequest ? '' : '::base.html.twig' %}
{% block body %}
    <h1>Ошибка 404! Страница не найдена</h1>
    <h3>Возможно Вы ввели неправильный адрес или страница еще в разработке.</h3>
{% endblock %}
{% block language_menu %}
<ul class="dropdown-menu language">
    <li><a href="{{ path('nurix_homepage', {'_locale': 'en'}) }}">EN</a></li>
    <li class="divider"></li>
    <li><a href="{{ path('nurix_homepage', {'_locale': 'cn'}) }}">CH</a></li>
    <li class="divider"></li>
    <li><a href="{{ path('nurix_homepage', {'_locale': 'ru'}) }}">RU</a></li>
</ul>
{% endblock %}