{% extends 'CatalogBundle:Admin:base_layout.html.twig' %}

{% block actions %}
    <div class="sonata-actions">
        <a href="{{ admin.generateUrl('excel') }}" class="btn">
            <i class="icon-hdd"></i>
            Импортировать из файла
        </a>
        {% include 'SonataAdminBundle:Core:create_button.html.twig' %}
    </div>
{% endblock %}