{% extends 'StrokitCoreBundle:Admin:base_layout.html.twig' %}

{% block actions %}
    <div class="sonata-actions">
        <a href="{{ admin.generateUrl('excel') }}" class="btn">
            <i class="icon-hdd"></i>
            Импортировать из файла
        </a>
        <a href="{{ admin.generateUrl('excelImport') }}" class="btn">
            <i class="icon-hdd"></i>
            Импортировать остатки из файла
        </a>
        <a href="{{ admin.generateUrl('excelGoodsUpload') }}" class="btn">
            <i class="icon-hdd"></i>
            Подгрузка товаров из файла
        </a>
        {% include 'SonataAdminBundle:Core:create_button.html.twig' %}
    </div>
{% endblock %}