.product
{
    margin-top: 50px;
    color: #999;
}

.product_image
{
    float:left;
    margin-right: 10px;
}
.product_name
{
    color: #000;
    font-weight: bold;
    font-size: 24px;
}
.product_base_info
{
    float: left;
}
.charType
{
    width: 128px;
}
.charValue
{
    width: 79px;
    color: #666;
}
.chars tr td
{
    padding-top: 10px;
}
.chars
{
    margin-top: 8px;

 }
.product_box
{
    margin-left: 25px;
    width: 150px;
    height: 138px;
    padding-left: 60px;
    float: left;
    border: 1px solid #999999;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;

}
.product_price
{
    padding-top: 15px;
    color: #000000;
    font-size: 30px;
    font-weight: bold;

}
.product_price_som
{
    font-size: 18px;
    margin-bottom: -5px;

}
.product_amount
{
    margin-top: 9px;

}
.product_amount .word_col
{
    margin-top: 9px;
}
.product_amount .box
{
    float: left;
    height: 28px;
    width: 34px;
    color: #999;
    border: 1px solid #999999;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    margin-left: 7px;
    margin-bottom: 9px;
    text-align:  center;
}
.product_amount .box:focus
{
    outline: none;
}
.product_amount .amount
{
    padding-top: 1px;
    padding-left: 12px;
}
.product_amount .znak
{
   cursor: pointer;
   text-align: center;
    display: block;
}
.product_amount .addrem
{
    float: left;
    padding-left: 5px;
}
.product_hr1
{
    width: 450px;
}
.product_hr2
{
    width: 690px;
}
.product_description
{
    width: 450px;
    word-wrap: break-word;
    color: #666;

}
.product_same
{
    color: #000;
}
.tabs_ico
{
    background: url("../phones/phone_cart_icons.png") no-repeat;
    padding-left: 15px;
}
.tabs_char
{
    background-position: 8% 103%;
}
.tabs_obzor
{
    background-position: 17% 29%;
}
.tabs_feedbacks
{
    background-position: 11% -7%;
}
.tabs_video
{
    background-position: 13% 65%;
}
.button_buy_bin
{
    background: url("../phones/product_button_bin_buy.png") repeat-x;
    float: left;
    font-size: 18px;
    padding-top: 8px;
    margin-left: -18px;
    color: #000;
    text-align: center;
    width: 130px;
    height: 29px;
    border: 1px solid #fead01;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
}
.char_title
{
    font-style: italic;
    font-size: 18px;
    color: #000;
    margin: 10px 0px 15px -10px;
}