#tabs_container{
    min-height: 150px;
}
#tabs_container ul.menu{
    width: 96%;
    border-bottom: 1px solid #d0ccc9;
    display: inline-block;
    list-style: none;
    list-style-position: outside;
}
#tabs_container ul.menu li{
    float: left;
    margin-right: 5px;
    margin-bottom: -1px;
}
#tabs_container ul.menu li{
    border-bottom: none !important;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    font-weight: 700;
    display: block;
    padding: 5px 15px 5px 30px;

    border: 1px solid #d0ccc9;
    border-width: 1px 1px 1px 1px;
    position: relative;
    color: #898989;
    cursor: pointer;
}
#tabs_container ul.menu li.active{
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    border-bottom: 1px solid white !important;
}
.tabs_content.characteristic{
    display: block;
}
.tabs_content.review{
    display: none;
}
.tabs_content.pfeedbacks{
    display: none;
}
.tabs_content.video{
    display: none;
}
