{% extends  '::base.html.twig' %}

{% block title %}
    {{ parent() }} : {{ page.title }}
{% endblock %}
{% block body %}
    <article class="blog-article">

        <div class="blog-content">
            <div class="blog-content-title">
                <h2><a href="#" class="invarseColor">{{ page.title }}</a></h2>
            </div>
            <div class="blog-content-entry">
                {{ page.content|raw }}
            </div>
        </div><!--end blog-content-->
    </article>
{% endblock %}
