.mainframe
{
    width: 950px;
    margin: 0 auto;
}
header
{
    text-align: center;
    height: 140px;
}
.leftColumn
{
    margin-top: 400px;
    float: left;
    overflow: hidden;

}
.catalog
{
    border: 1px solid #000000;
}
.interesting
{
    border: 1px solid #000000;
}
.content
{
    margin-top: 400px;
    text-align: center;
    padding-left: 10px;
    overflow: hidden;

}
.feedbacks
 {
    border: 1px solid #000000;
 }
footer
{
    text-align: center;
    border: 1px solid #000000;
    overflow: hidden;
}
#info
{
 position: relative;
    top: -38px;
    left: 10px;
    z-index: 10;
    width: 200px;
}
.text
{
    font-family: arial;
    font-size: 12px;
    padding-left: 10px;
}
a
{
    color: #000000;
    text-decoration: none;
}
a:hover
{
 text-decoration: underline;
}
input
{
    width: 370px;
    height: 25px;
    color: gray;
}
input:hover
{
    color: #000000;
}
#form
{
    width: 370px;
    position: relative;
    top: -60px;
    left: 200px;
    padding-left: 50px;
    z-index: 5;
}
#logo
{
 position: relative;
    top: -50px;
    left: 30px;
    margin-top: 20px;
    width: 210px;
}
#contacts
{
    position: relative;
    top: -106px;
    left: 210px;
    width: 210px;
    padding-left: 40px;
}
#times
{
    position: relative;
    top: -175px;
    left: 500px;
    width: 210px;

}