
{% if sliders %}


        <div class="span8">
            <div class="flexslider">
                <ul class="slides">
                    {% for slider in sliders %}
                        <li>
                            <a href="{{ slider.url }}">
                                <img src="{% path slider.image, 'slider_standard' %}"/>
                            </a>
                        </li>
                    {% endfor %}

                </ul>
            </div><!--end flexslider-->
        </div><!--end span8-->


{% endif %}