<div class="container center">
    <div id="carousel" class="center">
        {% for slider in sliders %}
            {{ slider.content |raw}}
            {% endfor %}
    </div>
    <div id="pages"></div>
</div>