<link href="{{ asset('bundles/nurixslider/css/rcarousel.css') }} " type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="{{ asset("bundles/nurixslider/js/slider_header.js") }}"></script>
<div class="container center">
    <div id="carousel" class="center">
        {% for slider in sliders %}
         <div>
            {{ slider.content|raw}}
         </div>
        {% endfor %}
    </div>
    <div id="pages"></div>
</div>