.fan_box .connections_grid .grid_item {
	margin: 5px 4px 0 6px;
	float: left;
	padding: 0 5px 0 0;
	overflow: hidden;
	width: 50px;
}

.fan_box .full_widget .connect_top {
	background: #FFF;
}
.fan_box .connections .connections_grid
{
	padding-top: 20px;
	padding-bottom: 10px;
}