
<div class="productFilter clearfix">

    <div class="sortBy inline pull-left">
        <div>{{ 'catalog.sort.sortBy'|trans({}, 'CatalogBundle') }}</div>
        <select name="sortItem" id="sortItem">
            {% if not pagination.isSorted('q.name') and not pagination.isSorted('q.price') and not pagination.isSorted('q.id')  %}
                <option>{{ 'catalog.sort.default'|trans({}, 'CatalogBundle') }}</option>
            {% endif %}
            {% include 'CatalogBundle:Content:_sort_field.html.twig' with {direction:'asc', field:'price',first: true} %}
            {% include 'CatalogBundle:Content:_sort_field.html.twig' with {direction:'desc', field:'price',first: true} %}
            {% include 'CatalogBundle:Content:_sort_field.html.twig' with {direction:'asc', field:'name',first: true} %}
            {% include 'CatalogBundle:Content:_sort_field.html.twig' with {direction:'desc', field:'name',first: true} %}
            {% include 'CatalogBundle:Content:_sort_field.html.twig' with {direction:'asc', field:'id',first: true} %}
            {% include 'CatalogBundle:Content:_sort_field.html.twig' with {direction:'desc', field:'id',first: true} %}

            {% include 'CatalogBundle:Content:_sort_field.html.twig' with {direction:'asc', field:'price',first: false} %}
            {% include 'CatalogBundle:Content:_sort_field.html.twig' with {direction:'desc', field:'price',first: false} %}
            {% include 'CatalogBundle:Content:_sort_field.html.twig' with {direction:'asc', field:'name',first: false} %}
            {% include 'CatalogBundle:Content:_sort_field.html.twig' with {direction:'desc', field:'name',first: false} %}
            {% include 'CatalogBundle:Content:_sort_field.html.twig' with {direction:'asc', field:'id',first: false} %}
            {% include 'CatalogBundle:Content:_sort_field.html.twig' with {direction:'desc', field:'id',first: false} %}

        </select>
    </div>

    <div class="showItem inline pull-left">
        <div>{{ 'catalog.sort.show'|trans({}, 'CatalogBundle') }}</div>
        <select name="showItem">
            <option value="12">12</option>
            <option value="24">24</option>
            <option value="36">36</option>
            <option value="48">48</option>
        </select>
    </div>
    <!--end sortBy-->

</div>