{% block body %}

<div class="interesting_menu_title" >Каталог</div>
<ul class="interesting_menu_ul">
    {% for catalog in catalogs %}
        <li>
        <a href="{{ path('nurix_goods_get_catalog',{'cid':catalog.id }) }}" class="catalogs">{{ catalog.cname}}</a>
        <ul class="slide_toggle">
            {% for sub_catalog in catalog.getChildren() %}
                <li>
                    <a href="{{ path('nurix_goods_get_catalog',{'cid':sub_catalog.id }) }}" class="providers">
                        {{ sub_catalog.cname }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>

{% endblock %}