<div class="all-catalog-items" style="display: none;">
    {% for product in pagination %}
        {% include  "CatalogBundle:Content:item.html.twig" with {'product':product} %}
    {% endfor %}
</div>

<div class="navigation">
    {{ knp_pagination_render(pagination,'CatalogBundle:Pagination:pagination.html.twig') }}
</div>