{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/catalog/css/catalog.css') }}" type="text/css" media="screen" rel="stylesheet"/>
{% endblock %}
{% block body %}
    {% if pagination.getTotalItemCount > 0 %}
{% include  "CatalogBundle:Content:showRandomProductList.html.twig" with {'pagination':pagination} %}
{% else %}
        <h2>
            В этой категории товаров пока нет
        </h2>
{% endif %}
{% endblock %}



