{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/catalog/css/bin.css') }} " type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}

    <div>
        <h2>Корзина:</h2>

        {#{% if products %}#}
        <table class="bin-table">
            <tr>
                <th>Товар:</th>
                <th>Цена:</th>
                <th>Кол-во:</th>
                <th>Итого:</th>
            </tr>
            {#{% for product in products %}#}
            <tr>
                <td>
                    <div class="bin_itemPic">
                        <img src="" alt="foto"/>
                    </div>

                    <div class="bin_aboutItem">
                        <a class="name" href="/">HTC Evo 3D</a>

                        <div class="from">smartphone from Sony</div>
                        <a href="" style="color: #ca5f00;">подробная информация &rarr;</a>
                    </div>
                </td>
                <td>
                    <div class="bin_itemPrice">
                        <span class="Som">
                            12 000 сом
                        </span>
                        <span class="Dollar">
                            $ 350
                        </span>
                    </div>
                </td>
                <td>
                    <div class="bin_itemCount">
                        <span class="itemCounter itemAdd">&nbsp;</span>
                        <input class="itemVvod" type="text" value=""/>
                        <span class="itemCounter itemSub">&nbsp;</span>
                    </div>
                </td>
                <td>
                    <div class="bin_itemPrice">
                        <span class="Som">
                            24 000 сом
                        </span>
                        <span class="Dollar">
                            $ 700
                        </span>
                        <span class="bin-remove">&nbsp;</span>
                    </div>
                </td>
            </tr>
            {#{% endfor %}#}
            <tr>
                <td>
                    <div class="itog">Итого:</div>
                </td>
                <td></td>
                <td></td>
                <td>
                    <div class="bin_itemTotalPrice">
                        <span class="Som">
                            24 000 сом
                        </span>
                        <span class="Dollar">
                            $ 700
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="continue-buy-button">
                        <a href="" onclick="return false;">Продолжить покупки</a>
                    </div>
                </td>
                <td></td>
                <td></td>
                <td>
                    <div class="zakaz-button">
                        <a href="" onclick="return false;">Оформить заказ</a>
                    </div>
                </td>
            </tr>
        </table>
        {#{% else %}#}
        {#<h3>Корзина пуста</h3>#}
        {#{% endif %}#}
    </div>

{% endblock body %}