<div>
    <div class="phones float_left">
        <div><a id="name" class="size16px" href="/">{{ product.name }}</a></div>
        <div class="gray margin_top10px ">{{ product.shortDescription }}</div>
        <div class="clearbox"></div>
        <div>
            <img src="{{ asset('public/img/phones/'~product.imagePath) }}" alt="Catalog">
        </div>
        <div>
            <div class="gray float_left margin_top10px">Цена:</div>
            <div class="size16px price float_left">{{ product.price }}</div>
            <a href="/"><div class="button_buy">Купить</div></a>
        </div>
    </div>
</div>
