<div class="row">
    <div class="padding-right">
        <div class="features_items"><!--features_items-->
            <h2 class="title text-center">{{ title|trans({},'CatalogBundle') }} {% if subtitle is defined %}{{ subtitle }}{% endif %}</h2>
            {% if pagination.getTotalItemCount > 0 %}
                {% for product in pagination %}
                    {% include  "CatalogBundle:Content:_item_grid.html.twig" with {'product':product} %}
                {% endfor %}
            {% else %}
                В этой категории товаров пока нет
            {% endif %}
        </div>
    </div>
</div>