{% if pagination.getTotalItemCount > 0 %}
    {% include  "CatalogBundle:Content:getAjaxRandomProductList.html.twig" with {'pagination':pagination} %}
{% else %}
    <h2>
        В этой категории товаров пока нет
    </h2>
{% endif %}

