{% block javascripts %}
    <script type="text/javascript" src="{{ asset("bundles/catalog/js/ajax_pagination.js")}}"></script>
{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('bundles/catalog/css/catalog.css') }} " type="text/css" rel="stylesheet"/>
{% endblock %}
<div>
    <h1 class="left size24px">Весь каталог</h1>

    <div id="all-catalog">
        {% include  "CatalogBundle:Content:getAjaxRandomProductList.html.twig" with {'pagination':pagination} %}
    </div>
</div>