


<div class="titleHeader clearfix">
        <h3>{{ title|trans({},'CatalogBundle') }}: {% if subtitle is defined %}{{ subtitle }}{% endif %}</h3>
        <div class="pagers">
            <div class="btn-toolbar">
                <button class="btn btn-mini">{{ 'catalog.view_all'|trans({},'CatalogBundle') }}</button>
            </div>
        </div>
    </div>
    <div class="row">
        {% if pagination.getTotalItemCount > 0 %}
            {% include  "CatalogBundle:Content:getAjaxRandomProductList.html.twig" with {'pagination':pagination} %}
        {% else %}
            <h2>
                В этой категории товаров пока нет
            </h2>
        {% endif %}
    </div>
