<div id="homeSpecial">
    <div class="titleHeader clearfix">
        <h3>{{ title|trans({},'CatalogBundle') }}</h3>
        <div class="pagers">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button class="btn btn-mini vNext"><i class="icon-caret-down"></i></button>
                    <button class="btn btn-mini vPrev"><i class="icon-caret-up"></i></button>
                </div>
                <button class="btn btn-mini">{{ 'catalog.view_all'|trans({},'CatalogBundle') }}</button>
            </div>
        </div>
    </div><!--end titleHeader-->


    <ul class="vProductItems cycle-slideshow vertical clearfix"
        data-cycle-fx="carousel"
        data-cycle-timeout=0
        data-cycle-slides="> li"
        data-cycle-next=".vPrev"
        data-cycle-prev=".vNext"
        data-cycle-carousel-visible="2"
        data-cycle-carousel-vertical="true">

        {% for product in products %}
            {% include  "CatalogBundle:Content:_item_mini.html.twig" with {'product':product} %}
        {% endfor %}
    </ul>
</div><!--end homeSpecial-->