{% block stylesheets %}
    <link href="{{ asset('bundles/catalog/css/catalog.css') }} " type="text/css" rel="stylesheet"/>
{% endblock %}
<div>

    <h1 class="left size24px">Весь каталог</h1>

        {% for product in pagination %}
            {% include  "CatalogBundle:Content:item.html.twig" with {'product':product} %}
        {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(pagination, 'CatalogBundle:Pagination:pagination.html.twig')  }}
    </div>
</div>




