{% extends '::base.html.twig' %}

{% block body %}
    {% render controller("CatalogBundle:Content:showRandomProductList") %}
{% endblock %}

{% block slider %}

<div class="row">
    {% render controller("NurixSliderBundle:Slider:getSlider") %}
    <div class="span4">
        {% render controller("CatalogBundle:Content:showSliderProductList") %}



    </div><!--end span4-->
</div>
{% endblock %}