<div>
    <div class="phones">
        <div class='name'><a href="/">{{ product.name }}</a></div>
        <div class="clearbox"></div>
        <img src="{{ asset('bundles/nurix/images/phones/'~product.imagePath) }}" alt="Catalog">
    </div>
</div>
