{% extends '::base.html.twig' %}
{% block title %}
    {{ parent() }} : Результаты поиска по запросу "{{ searchText }}"
{% endblock %}
{% block body %}
    {% render controller("CatalogBundle:Search:index", {'searchText':searchText}) %}
    <div class="clearbox"></div>
    {#{% render  "ArticleBundle:Search:index" with {'searchText':searchText}%}#}
{% endblock %}