nurix_goods_get_catalog:
    pattern:  /catalog/{cid}
    defaults: { _controller: CatalogBundle:Content:getCatalog,cid:null }

nurix_bin_ajax_add_item:
    pattern: /bin/add/ajax/{id}
    defaults: { _controller: CatalogBundle:Bin:addAjaxBin }

nurix_bin_item:
    pattern: /bin/
    defaults: { _controller: CatalogBundle:Bin:bin }

nurix_bin_bin_form:
    pattern: /bin/bin-form
    defaults: { _controller: CatalogBundle:Bin:binForm }

nurix_goods_get_info:
    pattern: /catalog/product/{id}
    defaults: { _controller: CatalogBundle:Product:getInfo}

nurix_bin_main_widget:
    pattern: /bin/widget
    defaults: { _controller: CatalogBundle:Bin:mainBin }

nurix_admin_parse_excel:
    pattern: /admin/parse
    defaults: { _controller: CatalogBundle:Admin:excel }

nurix_catalog_get_rndcatalog:
    pattern: /catalog/rnd-catalog/
    defaults: { _controller: CatalogBundle:Content:showRandomProductList }