.ui-carousel {
	height: 100px;
	margin: 0;
	overflow: auto;
	padding: 0;
	position: relative; /*for ie7 to work e.g in html carousels*/
	/*width: 300px*/
}

.ui-carousel > .wrapper {
    margin: 0;
    padding: 0;
    width: 9999px;
}

.ui-carousel > .wrapper > * {
	border: 0;
	display: block;
	float: left;
	height: 100px;
	overflow: hidden;
	width: 100px;	
}
.container
{
    margin-top:50px;
}
.center
{
    margin: 0 auto;
}
.bullet
{
    background: url("../images/slider/page-off.png") center center no-repeat;
    display: block;
    width: 18px;
    height: 18px;
    float: left;

}
#pages
{
    width: 100px;
    margin: 0 auto;
}
.bullet2
{
    background: url("../images/slider/page-on.png") center center no-repeat;
    display: block;
    width: 18px;
    height: 18px;
    float: left;
}
.slide_image
{
    float: left;
}
.slide_text
{
    float: left;
    margin-left: 30px;
    text-align: left;
    font-size: 18px;
    margin-top: -10px;
}
.phone_name
{
    font-size: 60px;
    font-weight:bold;
}
.slide_button
{
    background-image: url("../images/slider/slide_button.png");
    background-repeat: no-repeat;
    height: 40px;
    width: 135px;
    padding-top: 9px;
    float: left;
    margin-left: 30px;
    margin-top: 15px;
}
.slide_btext
{
    font-size: 18px;

}