{% block stylesheets %}
    <link href="{{ asset('bundles/catalog/css/catalog.css') }} " type="text/css" rel="stylesheet"/>
{% endblock %}
<div>
    <div class="clearbox"></div>
    <h2 class="left size24px">Результаты поиска среди товаров: {{ searchText }}</h2>
    {% for product in products  %}
    {% include  "CatalogBundle:Content:_item.html.twig" with {'product':product} %}
    {% endfor %}
</div>

