<form action="{{ path('nurix_search') }}" method="get" {{ form_enctype(form) }} class="siteSearch">
    <div class="input-append">
        {{ form_widget(form.search,{'attr':{'class':'span2'} }) }}
        {#<input type="text" class="span2" id="appendedInputButton" placeholder="Search...">#}
        <button class="btn btn-primary" type="submit" name=""><i class="icon-search"></i></button>
    </div>
</form>