<table class="table table-compare">
    {% set lastSection=-1 %}
    {% for title in char %}
        {% if title.getCTypeId.getSection.id !=lastSection %}
            {% set lastSection=title.getCTypeId.getSection.id %}
            <tr>
                <td colspan="2" class="aligned-color">
                    <h3>{{ title.getCTypeId.getSection.Sectionvalue }}</h3>
                </td>
            </tr>
        {% endif %}
        <tr>
            <td>  {{ title.getCTypeId.name }}:</td>
            <td> {{ title.value }}  </td>
        </tr>
    {% endfor %}
</table>