{% if products %}
<div class="recommended_items"><!--recommended_items-->
    <h2 class="title text-center">{{ 'product_info.related_products'|trans({},'CatalogBundle') }}</h2>

    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for product in products %}
                <div class="item {% if loop.first or loop.index < 4 %}active{% endif %}">
                    {% include  "CatalogBundle:Content:_item_list.html.twig" with {'product':product} %}
                </div>
            {% endfor %}
            <!--end row-->
        </div>
    </div>
</div>
{% endif %}
