<div>
    {% for galleryHasMedia in product.youtube.GalleryHasMedias %}
        <div class="char_title">{{ galleryHasMedia.media.name }}</div>
        <span class="video_desc">{{ galleryHasMedia.media.description }}</span>
        <div>{% media galleryHasMedia.media, product.youtube.defaultFormat %}</div>
    {% endfor %}
</div>