<div>
    {% for galleryHasMedia in product.youtube.GalleryHasMedias %}
        <h3>{{ galleryHasMedia.media.name }}</h3>
        <span>{{ galleryHasMedia.media.description }}</span>
        <div>{% media galleryHasMedia.media, product.youtube.defaultFormat %}</div>
    {% endfor %}
</div>