<div>
    <div class="char_title">{{ product.videosId.title }}</div>
    <span class="video_desc">Официальное видео от Apple</span>
    <div><iframe width="560" height="315" src="http://www.youtube.com/embed/n9SX82qW09U" frameborder="0" allowfullscreen></iframe></div>
    <div class="char_title">{{ product.videosId.title }}</div>
    <span class="video_desc">Официальное видео от Apple</span>
    <div><iframe width="560" height="315" src="http://www.youtube.com/embed/VRnQOcVclS8" frameborder="0" allowfullscreen></iframe></div>
</div>